/* Add any css you want to use for you website here */
body {
	background-image: url("../img/background.jpg");
}

p {
	font-size: 17px;
}

a {
	color: darkblue;
}

a:hover {
	color: rgb(207, 184, 124);
}
